.bingo-item {
  margin-top: 5px;
  list-style: none;
}

.bingo-links a:first-child {
  border-right: 1px solid;
  padding-right: 10px;
}

.bingo-links a {
  margin-left: 5px;
}

.bingo-winners-list {
  list-style: none;
}

.winner-count {
  float: right;
}

