<section class="bingo">

  <ul class="bingo-items">
    {% for item in items %}
      <li class="bingo-item">{{ item }}</li>
    {% endfor %}
  </ul>

  <aside class="bingo-links">
    {{ add_link }}
    {{ play_link }}
  </aside>

</section>
