<section class="bingo-winners-block">
  <ul class="bingo-winners-list">
    {% for winner in winners %}
      <li><span class="winner-name">{{ winner.name }}</span><span class="winner-count">{{ winner.count }}</span></li>
    {% endfor %}
  </ul>
</section>
